*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.top{
    width: 80px;
    height: 80px;
    background: #222831;
    border: none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom:120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home{
    width: 150px;
    height: 50px;
    background: #222831;
    border: solid 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Horizon{
    width: 150px;
    height: 50px;
    background: #222831;
    border: solid 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.Fallout{
    width: 150px;
    height: 50px;
    background: #222831;
    border: solid 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Diablo{
    width: 150px;
    height: 50px;
    background: #222831;
    border: solid 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pikmin{
    width: 150px;
    height: 50px;
    background: #222831;
    border: solid 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin:0;
}
h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    font-weight: 500;
}
figure{
    margin-bottom: 40px;
}
article{
    margin: 0 auto;
    width: 60vw;
    padding: 40px;
}
img{
    width: 100%;
    border-radius: 40px;
    transition-duration: 0.3s;
}
button{
    margin: auto;
    padding: 20px;
   
}
nav{
    background: #222831;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}
button:hover{
    background-color: Red;
}
footer{
    background: #222831;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    
}

footer > p{
    width: 60vw;
    margin: 0 auto;
    padding-left: 40px;
}
@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform:none;
    }
    .top{
        width: 60px;
        height: 60px;
        bottom:60px;
        right: 60px;
    }
}

@media screen and(max-width: 600px) {
    body{
        font-size: 16px;
    }
    article{
        width: 100vw;
        padding:20px;
    }
    h1{
        font-size: 180%;

    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }
    .top{
        width: 60px;
        height: 60px;
        bottom:60px;
        right: 60px;
    }
}